<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor  <span highlight>sit amet consectetur adipisicing elit. </span> Quis aliquid, tempora in dolorem deleniti vel? Dolore, voluptates sed maiores minima modi facere repellat accusantium, reprehenderit veniam commodi nesciunt, officiis doloribus.</p>
    <p class="text-xs">Número de clientes <app-couter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" /> </p>

    <div>
        <app-wave-audio audioUrl="assets/audio.mp3" />
    </div>
</div>


